main.main.wrapped.block
  section.about.theme-canvas#about
    h2.mb70.theme-canvas__title About us
    
    .about__img
      img(src="imgs/about.jpg", width="600", height="400", alt="conversation")
    
    .about__text
      .about__text-block
        h3.theme-canvas__title Who We Are
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis sed dapibus leo nec ornare diam. Sed commodo nibh 
          ante facilisis bibendum dolor feugiat at. 
          Duis sed dapibus leo nec ornare diam commodo nibh.        
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis sed dapibus leo nec ornare diam. Sed commodo nibh 
          ante facilisis bibendum.
    
      .about__text-block
        h3 What We Do
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Duis sed dapibus leo nec ornare diam. Sed commodo nibh 
          ante facilisis bibendum dolor feugiat at. 
          Duis sed dapibus leo nec ornare diam commodo nibh.        
        
        ul.checklist
          -
           var listNames = ['Lorem ipsum dolor sit amet',
           'Consectetur adipiscing commodo',
           'Duis sed dapibus leo sed dapibus',
           'Sed commodo nibh ante bibendum'];
          
          each val in listNames
            li=val
  
  section.services.theme-image#services
    h2.theme-image__title Our services
    
    .services__icon-text-table.row
      -
        // Title: classname
        var icons = {
          'Web Design': 'fa-desktop',
          'Web Development': 'fa-cogs',
          'App Design': 'fa-tablet',
          'PSD to HTML5': 'fa-html5',
          'WordPress': 'fa-wordpress',
          'Marketing': 'fa-bullhorn',
          'Branding': 'fa-rocket',
          'Print Design': 'fa-leaf',
        }
        
      each val, key in icons
        .services__icon-text-item.icon-text-item
          .icon-text-item__img
            i(class="icon fa " + val)
          h3.theme-image__title=key
          p.icon-text-item__description.
            Lorem ipsum dolor sit amet placerat facilisis 
            felis mi in tempus eleifend pellentesque 
            natoque etiam.
  
  section.portfolio.theme-canvas#portfolio
    h2.theme-canvas__title Our portfolio
    p(class="text-center").mt30.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
    
    .cards
      .tabs.cards__tabs
        -
          var tabLinkNames = ['All', 'Web Design',
          'Web Development', 'Branding'];
        each val in tabLinkNames
          button.button.button--tab.tabs__button.js-button--tab=val
      
      .cards-deck.row
        -
          var n = 0, imageNumber = 8, base = 'portfolio_0';
        while ++n < (imageNumber + 1)
          - var imgSrc = './imgs/' + base + n + '.jpg';
          .cards-deck__item
            img(src=imgSrc, width="600", height="420", alt="some stuff")
            
            .popup-block.bg-theme-dark.theme-image
              h4.theme-image__title.popup-block__title Project title
              -
                var textValue = '';
                switch (n) {
                  case 1:
                  case 3:
                  case 4:
                  case 5:
                    textValue = 'Web Design';
                    break;
                  case 2:
                  case 6:
                    textValue = 'Web Development';
                    break;
                  case 7:
                    textValue = 'Web Development, Branding';
                    break;
                  case 8:
                    textValue = 'Branding';
                    break;
                  default:
                    break;
                }
              
              p.popup-block__text.js-tab-anchor=textValue
              
  section.team.theme-canvas.bg-theme-gainsboro#team
    h2.theme-canvas__title Meet the team
    p(class="mt30 text-center").
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Duis sed dapibus leo nec ornare diamcommodo nibh ante
      facilisis.
    
    .team__members.row.mt30
      -
        var teamNumber = 4, i = 0,
        imgPath = './imgs/',
        base = 'team_0',
        photoCaptions = {};
        photoCaptions['1'] = {};
        photoCaptions['1']['title'] = 'John Doe';
        photoCaptions['1']['text'] = 'Founder / CEO';
        photoCaptions['2'] = {};
        photoCaptions['2']['title'] = 'Mike Doe';
        photoCaptions['2']['text'] = 'Web Designer';
        photoCaptions['3'] = {};
        photoCaptions['3']['title'] = 'Jane Doe';
        photoCaptions['3']['text'] = 'Creative Director';
        photoCaptions['4'] = {};
        photoCaptions['4']['title'] = 'Larry Show';
        photoCaptions['4']['text'] = 'Project Manager';
        
      while i++ < teamNumber
        - var imgSrc = imgPath + base + i + '.jpg';
        figure.figure
          img(src=imgSrc, class="photo", width="225", height="225", alt="member photo")
          figcaption.figcaption.text-center
            .theme-canvas__title.figcaption__title=photoCaptions[i]['title']
            .figcaption__text=photoCaptions[i]['text']
  
  section.testimonials-wrapper.theme-image#testimonials
    h2.mb70.theme-image__title What our clients say
    
    .testimonials.row
      -
       var testimonialsContent = {};
       testimonialsContent['0'] = {};
       testimonialsContent['0']['cite'] = 'Lorem ' + 
       ' ipsum dolor sit amet,' + 'consectetur adipiscing elitduis ' +
       'sed dapibus leo nec ornare.';
       testimonialsContent['0']['author'] = 'John Doe';
       testimonialsContent['0']['company'] = 'CEO, Company Inc.';
       
       testimonialsContent['1'] = {};
       testimonialsContent['1']['cite'] = 'Lorem ' + 
       ' ipsum dolor sit amet,' + 'consectetur adipiscing elitduis ' +
       'sed dapibus leo nec ornare.';
       testimonialsContent['1']['author'] = 'Jane Doe';
       testimonialsContent['1']['company'] = 'CEO, Company Inc.';
       
       testimonialsContent['2'] = {};
       testimonialsContent['2']['cite'] = 'Lorem ' + 
       ' ipsum dolor sit amet,' + 'consectetur adipiscing elitduis ' +
       'sed dapibus leo nec ornare.';
       testimonialsContent['2']['author'] = 'Chris Smith';
       testimonialsContent['2']['company'] = 'CEO, Company Inc.';
       
       var index = -1,
       testimonialsNum = Object.keys(testimonialsContent).length;
       
      while index++ < (testimonialsNum - 1)
          .testimonials__item.text-center
            i.fa.fa-quote-left.testimonials__item-icon
            blockquote.testimonials__item-quote=testimonialsContent[index]['cite']
            .testimonials__item-author-info
              b.testimonials__item-author=testimonialsContent[index]['author']
              i.testimonials__item-company=testimonialsContent[index]['company']
  
  section.contact-info.theme-canvas.column#contact
    h2.theme-canvas__title Contact Us
    p.mt30.mb70.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
    
    .contact-info__connection-type-container.row.text-center.mb70
      .contact-info__connection-type-item
        i.icon.fa.fa-map-marker.contact-info__icon
        .contact-info__text 4321 California St,#[br]San Francisco, CA 12345
      
      .contact-info__connection-type-item
        i.icon.fa.fa-envelope-o.contact-info__icon
        .contact-info__text info@company.com
        
      .contact-info__connection-type-item
        i.icon.fa.fa-phone.contact-info__icon
        .contact-info__text +1 123 456 1234
        .contact-info__text +1 321 456 1234
    
    .contact-info__feedback.feedback
      h3.theme-canvas__title.mt30.text-center.feedback__title Leave us a message
      form(action="some.php", method="post", name="contact_form").form
        .row.form__row
          input(type="text", placeholder="Name").form__elem
          input(type="email", placeholder="Email").form__elem
        textarea(placeholder="Message", rows="5").form__elem
        
        button(class="button form__submit-button button--small", type="submit") Send Message
    
    .contact-info__socials
      h3.theme-canvas__title.text-center Follow us
      ul
        -
          var classToAddressMap = {
            'fa-facebook': 'https://ru-ru.facebook.com/',
            'fa-twitter': 'https://twitter.com/',
            'fa-dribbble': 'https://dribbble.com/',
            'fa-github': 'https://github.com/',
            'fa-instagram': 'https://www.instagram.com/',
            'fa-linkedin': 'https://linkedin.com'
          };
      
        each address, className in classToAddressMap
          - var fullClassName = 'icon fa ' + className;
          li.list-item
            a(href=address, class="social-link")
              i(class=fullClassName)
              
